<%- include("../includes/header") %>

        <section class="mx-auto">
          <a href="/login">Go back Login</a>
          <h1 class="title">Reset Password</h1>
          <% if(errMsg)  { %>
            <p class="msg-box"> <%= errMsg %></p>
            <% } %>
          <form action="/reset" method="post">
            <input value="<%= csrfToken %>" name="_csrf" hidden>
            <div>
              <label for="email">Enter email</label>
              <input type="text" id="email" name="email"/>
            </div>
            <button>Reset Password</button>
          </form>
        </section>
      </body>
      <%- include("../includes/footer") %>
