<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <body> -->
       <%- include('./includes/header') %>
        <a href="/">Go To Home</a>
        <section class="mx-auto">
            <h1 class="title">Add New Post</h1>
            <form action="/admin" method="post">
                <div>
                    <label for="title">Enter Title</label>
                    <input type="text" id="title" name="title" required /><br><br>
                </div>
                <div>
                    <label for="desc">Enter Description</label>
                    <textarea name="description" id="desc" cols="30" rows="10" required></textarea>
                    <br><br>
                </div>

                <div>
                    <label for="img">Choose Image</label>
                    <input type="text" id="image" name="image_url" required /><br><br>
                    <br><br>
                </div>

                <button>Add Post</button>
            </form>
        </section>
<%- include('./includes/footer') %>
<!-- </html> -->